name: CI com badge estático

on: [push, pull_request]
permissions:
  contents: write  
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes com cobertura
        run: pytest -v --cov=sisrel --cov-report=xml:coverage.xml
    
      - name: Gerar Coverage Badge
      # Exemplo usando uma ação do Marketplace para gerar o badge
        uses: tj-actions/coverage-badge-go@v1
        with:
           # Caminho para o arquivo de relatório gerado
        filename: coverage-badge.svg

      - name: Publicar badge (sempre)
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: badge-cobertura
          path: coverage-badge.svg

      - name: Commit e push do badge
        if: ${{ success() }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add coverage-badge.svg
          git add .
          git commit -m "Atualiza badge de cobertura: ${{ steps.badge.outputs.percent || '' }}"
          git push
